name: Pipes

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
  push:
    branches:
      - master
    paths:
      - '**.go'
  workflow_dispatch:

env:
  GO_VERSION: stable
  GOLANGCI_LINT_VERSION: v2.6.1

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push'
        || github.event_name == 'workflow_dispatch'
        || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci'))
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: docker build --target go-build .

  lint:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci')
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

  test:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push'
        || github.event_name == 'workflow_dispatch'
        || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci'))
    steps:
      - uses: actions/checkout@v5
      - name: Generate credentials for PgSQL test DB
        run: |
          echo "postgres" > ./docker/go-test-db/secrets/user
          openssl rand -base64 32 | tr -dc _A-Z-a-z-0-9 | head -c${1:-32} > ./docker/go-test-db/secrets/password
      - name: Test
        run: |
          export DOCKER_USER=$(id -u):$(id -g)
          docker compose -f docker-compose.dist.yaml -f docker-compose.ci.yaml run --build go-test
          docker compose -f docker-compose.dist.yaml -f docker-compose.ci.yaml down
