name: Pipes

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
  push:
    branches:
      - master
    paths:
      - '**.go'
  workflow_dispatch:

env:
  GO_VERSION: stable
  GOLANGCI_LINT_VERSION: v2.6.1

jobs:
  build:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push'
        || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci'))
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install Taskfile
        run: sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
      - name: Install deps
        run: go mod download
      - name: Build
        run: GOPATH=$(pwd) ./bin/task release

  lint:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci')
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

  test:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push'
        || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci'))
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Generate options code
        uses: arduino/setup-protoc@v3
        with:
          version: "29.1"
        run: make generate-options
      - name: Ensure option code is up to date
        run: ./scripts/git-has-changes.sh
      - name: Generate test cases
        uses: arduino/setup-protoc@v3
        with:
          version: "29.1"
        run: make generate-test-cases
      - name: Test
        run: go test ./...
